FPSim2==0.2.8
importlib_metadata==8.7.0
importlib_resources==6.5.2
joblib==1.5.0
MolVS==0.1.1
numpy==1.19.2
pandas==1.4.4
rdkit==2020.09.1
nerdd-module==0.3.36
nerdd-link==0.2.23
pytables>=3.4.4
scipy
tqdm
